{% extends 'core/base.html' %}
{% load humanize wallets %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Wallets</h1>
    <a id="create_wallet_link" href="{% url 'wallet:create' %}" class="d-none d-sm-inline-block btn btn-sm btn-success">
        <i class="fas fa-plus fa-sm text-white-50"></i> Add Wallet
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Wallets</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="wallet_list" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Protocol</th>
                        <th>Type</th>
                        <th>Balance Asset</th>
                        <th>Balance USD</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list.count %}
                    {% for obj in object_list %}
                    <tr>
                        <td>{% if obj.label %}{{ obj.label }}{% else %}-{% endif %}</td>
                        <td>{{ obj.content_type.get_protocol_type_display }}</td>
                        <td>{{ obj.get_wallet_type_display }}</td>
                        <td>
                            <ul class="mb-0 pl-3">
                                {% for asset_name, balance in obj.content_type.balance.items %}
                                <li>{{ balance }} {{ asset_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul class="mb-0 pl-3">
                                {% with usd_total=obj.content_type|wallet_balance_usd %}
                                    <li>$ {{ usd_total|floatformat:2|intcomma|default:"0.00" }}</li>
                                {% endwith %}
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center" colspan="3">
                            No Wallets were found.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
