{% load i18n %}{% autoescape off %}
<p>{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at{% endblocktranslate %} <a href="{{ protocol }}://{{ domain }}">{{ site_name }}</a>.</p>

<p>{% translate "Please go to the following page and choose a new password:" %}</p>
{% block reset_link %}
<ul>
<li><a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}</a></li>
</ul>
{% endblock %}
<p>{% translate 'Your username, in case you’ve forgotten:' %} <strong>{{ user.get_username }}</strong></p>

<p>{% translate "Thanks for using our site!" %}</p>

<p>{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}</p>

{% endautoescape %}
