{% extends 'core/base.html' %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Password Change</h1>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-6">
                        <p>Your password was changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
