{% extends 'core/base.html' %}
{% load humanize transactions %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Transactions</h1>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="transaction_list" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Protocol</th>
                        <th>Tx. ID</th>
                        <th>Amount Asset</th>
                        <th>Amount USD</th>
                        <th>Is Confirmed</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% if object_list.count %}
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.get_protocol_type_display }}</td>
                        <td>{{ obj.tx_id }}</td>
                        <td>
                            {% with balances=obj|transaction_balance:user_wallets %}
                                {% for asset_name, balance in balances.items %}
                                    {% if asset_name != "USD" %}
                                        {{  balance }} {{ asset_name }}
                                    {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </td>
                        <td>
                            {% with balances=obj|transaction_balance:user_wallets %}
                            $ {{ balances.USD|floatformat:2|intcomma|default:"0.00" }}
                            {% endwith %}
                        </td>
                        <td>{% if obj.is_confirmed %}Yes{% else %}No{% endif %}</td>
                        <td>{{ obj.block_time|date:"d/m/Y" }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="text-center" colspan="5">
                            No Transactions were found.
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
